{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<p>
During this study, you will interact in real-time with an anonymous partner.
The game will last about 10 minutes (max. 15 minutes).
</p>
<p>
It is then crucial that you stay in front of the screen for the next 10-15 minutes.
There will be some moments where you have to wait until your partner decides,
    so please be patient as your partner may take some minutes to decide.

</p>

{% formfields %}

    {% next_button %}

{% endblock %}
