{% extends "otree/Page.html" %}

{% block title %}
    La Tarea de Decodificación Comenzará Pronto
{% endblock %}

{% block content %}

<div class="card bg-light m-3">
    <div class="card-body ">

    Después de hacer clic en el botón de abajo, la tarea de decodificación comenzará.  

    </div>
</div>

<button class="otree-btn-next btn btn-primary">Continuar</button>

{% endblock %}

{{ block styles }}
<!-- Cargar los estilos CSS personalizados -->
<link rel="stylesheet" href="{% static 'global/myStyle.css' %}">
{{ endblock }}