<div>
    <h2 style="color: #343a40; font-weight: bold; text-transform: uppercase; border-bottom: 2px solid #6c757d; padding-bottom: 10px;">Recuerda</h2>
    <p><strong>Eres el Jugador B.</strong> Mantendrás este rol durante todas las rondas.</p>
    <p><strong>Tu tarea:</strong> Adivinar el número secreto lo más cercano al real posible.</p>
  
    <br>
    <h4 style="text-align: left">Reglas de pago:</h4>
    <ul>
        <li>Adivinas un número <strong>alto</strong> 📈 (en la escala del 1 al 7) → <strong>Más</strong> dinero para el Jugador A.</li>
        <li>Adivinas un número <strong>correcto</strong> 🎯 (cercano al número secreto) → <strong>Más</strong> dinero para ti.</li>
    </ul>

    <br> 
    <h4 style="text-align: left">Reglas del mensaje:</h4>
    <ul>
        <li>Los Jugadores A <strong>NO conocían</strong> el número secreto al enviar un mensaje.</li>
        <li>Si un Jugador A <strong>delegó al computador</strong> 🤖, su mensaje contiene el <strong>verdadero número secreto</strong>.</li>
    </ul>

    <br>
    <h4 style="text-align: left">⏳ Límite de tiempo: {{ Constants.TIME_PER_ROUND }} segundos</h4>
    <p>Si <strong>no envías una adivinanza</strong>, tu adivinanza será establecida como el <strong>mensaje del Jugador A</strong>.</p>
</div>
