    h5{
        text-align: center;
    }

    h4 {
      text-align: center;
    }
    h3 {
        color: #8a2ef9 !important;
    }

    h2#_otree-title.otree-title.page-header {
    color: #8a2ef9 !important;
}

      p {
        font-size:20px;
      }
      li{
        font-size:20px;
      }
      .payoff {
        color: #0b5ed7;
        font-weight:bold;
      }
      p.blocktext{
    text-align: center;
      }

      hr {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border:2px solid;
        border-radius: 5px;
      }

    .take {
        color: #F78888;
      }
    .no_take { /* OK, a bit contrived... */
        color: #3995c6;
      }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    /* Center content vertically and horizontally for a specific wrapper */
.round-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

/* Styling for the round number text */
.round-number {
    font-size: 4rem;
    font-weight: bold;
    color: #343a40;
}
  body {
    font-size: 20px;
  }

.callout {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ebebeb;
    border-left-width: 5px;
    border-radius: 0.25rem;
}

.callout-light {
    background-color: #f9f9f9;
    border-left-color: #d6d8db;
}

.callout-danger {
    border-color: #dc3545;            /* Red left border for 'danger' */
    background-color: #FFF4F3;        /* Light red background */
    color: #842029;                   /* Red text color */
}

/* General styling for oTree timer to apply across all apps */
.otree-timer {
    text-align: center;   /* Center the text */
    font-weight: bold;    /* Make the text bold */
    font-size: 24px;      /* Increase the font size */
    color: #000;          /* Optional: Set text color (black in this case) */
    margin-top: 10px;     /* Optional: Add space above the timer */
}

.otree-timer__time-left {
    display: inline-block; /* Ensure the time itself remains in-line and centered */
}



