{{ block title }}
   Round {{player.round_number}}: Guess the secret number
{{ endblock }}

{{ block styles }}
<!-- Load the custom css styles -->
<link rel="stylesheet" href="{% static 'global/myStyle.css' %}">
<link rel="stylesheet" href="{% static 'global/myStyleButton.css' %}">

{{ endblock }}

{{ block content }}

<!-- Hide the timer initially and show it when 10 seconds are left -->
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer').hide();  // Initially hide the timer

        $('.otree-timer__time-left').on('update.countdown', function (event) {
            // Show the timer when there are only 10 seconds left
            if (event.offset.totalSeconds === 10) {
                $('.otree-timer').show().addClass('blinking-timer');  // Add blinking effect
            }
        });
    });
</script>

<p class="text-center">
    You are the <b>Player B</b>. The Player A's message is below.
</p>

<div class="d-flex justify-content-center">
    <div class="card text-dark bg-light mb-3" style="width: 24rem;">
        <div class="card-body text-center">
            <h5 class="card-title">Player A's message</h5>
            {% if group.sender_message > 0 %}
                <p class="card-text">The secret number is {{ group.sender_message }}.</p>
            {% else %}
                <p class="card-text">Player A didn't send a message on time.</p>
            {% endif %}
        </div>
    </div>
</div>


    <!-- Show message on whether the round is relevant for Participant A (Sender) -->
    {% if is_sender_payoff_relevant %}
        <p>This round is <strong>payoff-relevant</strong> for Participant A.</p>
    {% else %}
        <p>This round is <strong>not payoff-relevant</strong> for Participant A.</p>
    {% endif %}

<p class="text-center">
    Now you have to guess the secret number. You can enter any number between 1 and 6,
    including decimals.
</p>


<div class="callout callout-light">
    <strong>REMEMBER:</strong> Mention what a 4.5 means or something like that.
</div>

      <br>

    <h4 class="card-title">Move the slider to select your guess.</h4>

<input id="slider" value="0" type="range" name="receiver_guess" oninput="updateDescription(this)" step="0.1"
       class="form-range" min="1" max="6">


      <h5 id="description"></h5>
<!-- by leaving the description blank initially, we prompt the user to move the slider,
reducing the anchoring/default effect. -->
  </div>
    <br>

    <!-- Replace the default {{ next_button }} with a custom green Bootstrap button -->
<div class="d-grid gap-2 col-6 mx-auto">
<button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
</div>

<script>
    let description = document.getElementById('description');
    function updateDescription(input) {
        document.getElementById("slider").setAttribute("max", js_vars.max_guess);
        document.getElementById("slider").setAttribute("min", js_vars.min_guess); //These lines set min and max of the slider
        let receiver_guess = parseFloat(input.value).toFixed(1);
        description.innerText = `Your guessed number: ${receiver_guess}`
    }

</script>

{{ formfield_errors 'receiver_guess' }}

{{ endblock }}